.title-morat {
  justify-content: center;
  font-size: 50px;
  margin-left: 600px;
  margin-top: 30px;
}

.logo {
  display: flex;
  height: 180px;
  justify-content: right;
  margin-right: 100%;
  position: absolute;
  margin-bottom: 600px;
  margin-left: 50px;
  border-radius: 50px;
}

.cancionespop {
  background-color: rgba(218, 26, 19, 0.6);
  height: 50%;
  margin: 4%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: -700px;
  font-family: "Josefin Sans", sans-serif;
}

.pop {
  display: flex;
  margin-left: 70px;
  justify-content: space-between;
}

.galeria {
  display: flex;
  margin-right: 70px;
  flex-direction: row;
  justify-content: center;
}

.img-index {
  width: 90%;
  height: 500px;
}

.foto .img-index {
  padding-right: 20px;
}

.descripcion {
  background-color: beige;
  font-size: 18px;
  align-items: center;
}

.image-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-item {
  width: 300px;
  margin: 20px;
  text-align: center;
}

.img-index:hover {
  transform: rotate(350deg);
}

.image-item img {
  width: 100%;
  height: auto;
}

.image-caption {
  background-color: #f2f2f2;
  padding: 10px;
  font-family: "Josefin Sans", sans-serif;
}
.image-caption h3,
.image-caption p {
  margin: 0;
}

.varias-secciones {
  display: flex;
  text-decoration: none;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100%;
  text-align: center;
  position: relative;
  top: 370px;
  background-color: white;
  font-family: "Josefin Sans", sans-serif;
  color: black;
  width: 1000px;
  height: 55px;
}

.card-index {
  width: 301px;
  height: 200px;
}

.card-index:hover {
  transition: transform 1s;
}

.card {
  width: 305px;
  height: 615px;
  margin-left: 80px;
}

.col {
  width: 500px;
  margin-left: 160px;
  margin-top: 700px;
}

.card-title {
  text-align: center;
}

.nav-items {
  width: 60px;
  text-align: center;
}

.nav-link-paginas {
  text-decoration: none;
  color: #181818;
  width: 60px;
  font-size: 20px;
}

.justify-content-center {
  background-color: #ff1e1e;
  text-align: center;
  margin-top: 200px;
  width: 100%;
  height: 40px;
}

.nav-link-paginas:hover {
  color: blanchedalmond;
}

.contenedor-titulo {
  display: flex;
  text-align: center;
  margin-left: 500px;
}

.titulo {
  justify-content: center;
  align-items: flex-start;
  margin-top: -300px;
  height: 86px;
  width: 400px;
  color: black;
  font-size: 50px;
}

.link-menu {
  color: rgb(214, 214, 196);
  padding: 80px;
  text-align: center;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

header {
  display: flex;
  /*background-color: rgb(207, 46, 46);*/
  text-align: center;
  margin-bottom: 100px;
  width: 100%;
  height: 29px;
}

.navbar {
  margin-left: 450px;
  margin-top: -132px;
  width: 770px;
  height: 50px;
  margin-bottom: 500px;
}
.navbar .container-fluid {
  background-color: #ce1e1e;
}
.navbar .navbar-nav {
  margin-right: 30px;
}
.navbar .navbar-nav .nav-item {
  margin-right: 30px;
}

.link-menu {
  color: rgb(214, 214, 196);
  padding: 80px;
  text-align: center;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

header {
  display: flex;
  /*background-color: rgb(207, 46, 46);*/
  text-align: center;
  margin-bottom: 100px;
  width: 100%;
  height: 29px;
}

li {
  display: inline-block;
  width: 133px;
  margin-right: 87px;
  margin-top: 5px;
}

.logo-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 1200px;
  margin-top: 200px;
  width: 300px;
}

.logo-container img {
  max-width: 180px;
  height: auto;
  width: 500px;
  border-radius: 50px;
}

.biography {
  background-color: #f2f2f2;
  padding: 40px;
  width: 300px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.content {
  display: flex;
  align-items: center;
}

.content img {
  width: 200px;
  border-radius: 50%;
  margin-right: 40px;
}

.content p {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  margin: 30px;
}

.p {
  font-size: 30px;
}

footer {
  background-color: #db0505;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 600px;
  height: 76px;
}
footer .text-izquierdo, footer .text-derecho, footer .link-medio {
  flex-basis: 33.33%;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}
footer .link-medio {
  flex-basis: 100%;
  color: aliceblue;
}
footer .link-medio a {
  color: aliceblue;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

a:hover {
  color: darkred;
  font-family: "Josefin Sans", sans-serif;
}

.navbar {
  margin-left: 450px;
  margin-top: -132px;
  width: 770px;
  height: 50px;
  margin-bottom: 500px;
}
.navbar .container-fluid {
  background-color: #ce1e1e;
}
.navbar .navbar-nav {
  margin-right: 30px;
}
.navbar .navbar-nav .nav-item {
  margin-right: 30px;
}

.ticket-seleccion {
  background-color: #f2f2f2;
  padding: 40px;
  text-align: center;
  margin-bottom: 95px;
  margin-top: -193px;
  width: 727px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.form-grupo {
  flex-basis: 100%;
  max-width: 400px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select,
input[type=date],
input[type=time] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.submit-button {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.ticket-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  border: 4px solid #fffdfd;
  padding: 20px;
  text-align: center;
  background-color: #ff0000;
  width: 727px;
}

.precio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 10px;
}
.precio span:first-child {
  text-align: right;
  padding-right: 10px;
}
.precio span:last-child {
  text-align: left;
  padding-left: 10px;
}

button:hover {
  background-color: whitesmoke;
  color: #000000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.menu {
  width: 1369px;
  margin: 0%;
  justify-content: space-between;
  position: fixed;
  background: #db0505;
  height: 27px;
  z-index: 10;
}

.navbar {
  margin-left: 450px;
  margin-top: -132px;
  width: 770px;
  height: 50px;
  margin-bottom: 500px;
}
.navbar .container-fluid {
  background-color: #ce1e1e;
}
.navbar .navbar-nav {
  margin-right: 30px;
}
.navbar .navbar-nav .nav-item {
  margin-right: 30px;
}

.titulo-vid {
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: -137px;
  color: black;
  text-align: center;
  margin-left: 200px;
  font-family: "Josefin Sans", sans-serif;
}

.titulo-video {
  display: flex;
}

.container-video {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.contenido-video {
  display: grid;
  grid-template-rows: auto 1fr;
}

.contenido-video iframe {
  width: 100%;
}

.contenido-texto {
  padding: 10px;
  background-color: rgb(240, 240, 240);
}
.contenido-texto h2 {
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 1200px;
  margin-top: 200px;
  width: 300px;
}
.logo-container img {
  max-width: 180px;
  height: auto;
  width: 500px;
  border-radius: 50px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #efd9ce;
  background: url(https://img.freepik.com/vector-premium/patron-fondo-abstracto-colores_600765-1413.jpg?w=2000);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.varias-secciones {
  display: flex;
  text-decoration: none;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100%;
  text-align: center;
  position: relative;
  top: 370px;
  background-color: white;
  font-family: "Josefin Sans", sans-serif;
  color: black;
  width: 1000px;
  height: 55px;
}

.secciones {
  list-style: none;
  text-decoration: none;
  color: beige;
  display: flex;
  text-align: center;
  top: 10px;
  position: relative;
  margin-bottom: 3px;
  font-size: 18px;
  color: black;
  margin: 0%;
  padding-right: 0%;
}

.img-carousel {
  width: 1000px;
  height: 600px;
  margin-left: 190px;
  margin-top: px;
}

p {
  font-size: 20px;
}

.carrousel-image {
  width: 80%;
  margin-left: 122px;
}

.carousel-text {
  text-align: center;
  font-size: 10px;
  margin-left: 20px;
  margin-top: -95px;
  color: white;
}

.carousel-text {
  font-size: 20px;
}

#parrafo-carousel {
  font-size: 20px;
  text-align: center;
}

#titulo-carousel {
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 1008px) {
  .menu {
    width: 1008px;
  }
  .logo-container {
    max-width: 302px;
  }
  .logo-container {
    width: 237px;
    margin-top: 83px;
  }
  .navbar {
    margin-left: 148px;
    width: 750px;
    margin-top: 126px;
  }
  .contenedor-titulo {
    margin-left: 319px;
  }
  .card {
    margin-left: 208px;
    width: 304px;
  }
  .title-morat {
    margin-left: 444px;
  }
  .titulo-vid {
    margin-left: 42px;
  }
  .ticket-section {
    gap: 36px;
  }
}
@media screen and (max-width: 768px) {
  .text-izquierdo, .text-derecho, .link-medio {
    flex-basis: 100%;
  }
  footer {
    height: 100px;
    width: 727px;
  }
  .logo-container {
    justify-content: center;
  }
  .ticket-section {
    grid-template-columns: 1fr;
  }
  .image-item {
    width: 100%;
  }
  .ticket-section {
    grid-template-columns: 1fr;
  }
  .navbar {
    width: 128px;
    height: 57px;
    margin-left: 475px;
    margin-top: -117px;
  }
  .carrousel-image {
    width: 80%;
    margin-left: 82px;
  }
  .menu {
    height: 58px;
    width: 727px;
  }
  .carousel-caption {
    left: 18%;
    font-size: 20px;
  }
  .contenedor-titulo {
    margin-left: 181px;
  }
  .titulo {
    margin-top: -172px;
  }
  .container-video {
    grid-template-columns: none;
    gap: 53px;
    margin-left: 148px;
  }
  .contenido-video {
    width: 72%;
  }
  .contenido-texto {
    width: 100%;
  }
  .titulo-video {
    margin-left: -188px;
    font-size: 25px;
    text-align: center;
  }
  .titulo-vid {
    font-size: 28px;
    text-align: center;
    margin-left: 304px;
  }
  .justify-content-center {
    height: 71px;
    width: 484px;
  }
  .title-morat {
    font-size: 42px;
    margin-left: 316px;
  }
  .logo {
    height: 127px;
    margin-left: 26px;
  }
  .card {
    margin-left: 196px;
    width: 232px;
    height: 691px;
  }
  .card-index {
    width: 230px;
    height: 195px;
  }
  #titulo-carousel {
    font-size: 23px;
  }
  #parrafo-carousel {
    font-size: 14px;
  }
  .biography {
    width: 727px;
  }
}
@media screen and (max-width: 425px) {
  footer {
    height: 200px;
    width: 431px;
  }
  .logo {
    max-width: 138px;
    text-align: center;
  }
  .logo-container img {
    max-width: 111px;
  }
  .contenedor-titulo {
    font-size: 16px;
    text-align: left;
    margin-left: 141px;
  }
  .title-morat {
    font-size: 49px;
    margin-left: 209px;
    margin-top: 185px;
  }
  .col {
    margin-left: -60px;
  }
  .justify-content-center {
    height: 100px;
    width: 431px;
  }
  .carrousel-image {
    width: 77%;
    margin-left: 56px;
  }
  .navbar {
    width: 129px;
    height: 57px;
    margin-left: 206px;
    margin-top: 28px;
  }
  .card {
    margin-left: 158px;
  }
  .menu {
    width: 431px;
    height: 118px;
  }
  .titulo-video {
    margin-left: -330px;
  }
  .container-video {
    margin-left: 96px;
  }
  .contenido-video {
    width: 65%;
  }
  .titulo {
    margin-top: -153px;
  }
  .logo-container {
    max-width: 207px;
    margin-top: 161px;
  }
  #titulo-carousel {
    font-size: 11px;
  }
  #parrafo-carousel {
    font-size: 8px;
  }
  .ticket-section {
    width: 429px;
  }
  .ticket-seleccion {
    width: 429px;
  }
}
@media screen and (max-width: 360px) {
  .menu {
    width: 368px;
    height: 118px;
  }
  .logo {
    height: 94px;
    margin-top: 20px;
    max-width: 95px;
  }
  .title-morat {
    font-size: 36px;
    margin-left: 172px;
    margin-top: 170px;
  }
  .justify-content-center {
    height: 105px;
    width: 368px;
  }
  .card {
    margin-left: 137px;
  }
  .logo-container {
    margin-top: 116px;
    width: 278px;
  }
  .logo-container img {
    max-width: 118px;
    margin-left: -147px;
  }
  .titulo {
    margin-top: -190px;
    font-size: 40px;
    margin-left: 40px;
  }
  .navbar {
    width: 123px;
    height: 57px;
    margin-left: 154px;
    margin-top: 25px;
  }
  .contenedor-titulo {
    margin-left: 77px;
  }
  .d-none {
    font-size: 12px;
    display: contents;
  }
  .container-video {
    margin-left: 87px;
  }
  .content {
    width: 60px;
    height: 100%;
    display: flex;
    margin-left: -10px;
  }
  .content p {
    margin: 10px;
    text-align: inherit;
  }
  .content img {
    width: 145px;
    margin-right: 15px;
  }
  footer {
    height: 147px;
    width: 368px;
  }
  .biography {
    width: 368px;
  }
}

/*# sourceMappingURL=estilos.css.map */
