* {
    padding: 0;
    margin: 0;
   
  }
  
  body {
    background-color: #efd9ce;
    background: url(https://img.freepik.com/vector-premium/patron-fondo-abstracto-colores_600765-1413.jpg?w=2000);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    overflow-x: hidden;
  }