.titulo-vid {
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 257px;
    color: black;
  }
  
  .titulo-video {
    display: flex;
  }
  
  .container-video {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .contenido-video {
    display: grid;
    grid-template-rows: auto 1fr;
  }
  
  .contenido-video iframe {
    width: 100%;
  }
  
  .contenido-texto {
    padding: 10px;
    background-color: rgb(240, 240, 240);
  
    h2 {
      text-align: center;
    }
  }
  