
  @media screen and (max-width: 768px) {

    .text-izquierdo, .text-derecho, .link-medio {
        flex-basis: 100%;
      }
    
      footer{
       height: 100px;

      }
      .logo-container {
        justify-content: center;
      }
    .ticket-section {
      grid-template-columns: 1fr;
     }
    .image-item {
     width: 100%;
     }
        
     .ticket-section {
      grid-template-columns: 1fr;
     }

     .navbar{
        width: 74px;
    }

  }

  @media screen and (min-width: 410px){
    footer{
        height: 200px;
 
       }
    .navbar{
        width: 74px;
    }
    .logo{
        max-width: 80%;
        text-align: center;
    }
  }