.varias-secciones{
    display: flex;
    text-decoration: none;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100%;
    text-align: center;
    position: relative;
    top: 370px;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    width: 1000px;
    height: 55px;
   
}