

@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Advertencia & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Sans:wght@700&display=swap');



*{
    padding: 0;
    margin: 0;
    
}




body{
    background-color: efd9ce;
    background: url(https://img.freepik.com/vector-premium/patron-fondo-abstracto-colores_600765-1413.jpg?w=2000);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
      
}

.menu{
    width: 100%;
    margin: 0%;
    justify-content: space-between;
    position: fixed;
    background-color: #ce1e1e;
    height: 27px;
}
.link-menu {
    color: beige;
    padding: 80px;
    text-align: center;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}
header{
    display: flex;
    /*background-color:rgb(207,46,46) ;*/
    text-align: center ;
    margin-bottom: 100px;
    width: 100%;
    height: 29px;
    
    
    
}

li{
    display: inline-block;
    width: 133px;
    margin-right: 87px;
    margin-top: 5px;
    
} 

h1{
    text-align: center;
    font-size: 50px;
    display: flex;
    height: 70px;
    width: 380px;
    justify-content: center;
    position: absolute;
    left: 500px;
    top: 240px;
    font-family: 'Josefin Sans', sans-serif;
    /*font-family: 'Sigmar', cursive;*/
    
     
}

.varias-secciones{
    display: flex;
    text-decoration: none;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100%;
    text-align: center;
    position: relative;
    top: 370px;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    width: 1000px;
    height: 55px;
}
.link-menu:hover{
    color: rgb(23, 182, 44);
}




/*barra de navegacion hambuerguesa bootstrap*/


.navbar{
  margin-left: 500px;
  margin-top: -132px;
  width: 800px;
  height: 50px;
  margin-bottom: 500px;
}
.container-fluid{
  background-color: #ce1e1e;
}
.navbar-nav{
  margin-right: 30px;
}
.nav-item{
  margin-right: 30px;
}



/*LOGO*/


.logo-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 1200px;
  margin-top: 200px;
  width: 300px;
 
}

.logo-container img {
  max-width: 180px;
  height: auto;
  width: 500px;
  border-radius: 50px;
}

@media screen and (max-width: 768px) {
  .logo-container {
    justify-content: center;
  }
}










/*INDEX*/
.logo{
    display: flex;
    height: 180px;
    justify-content: right;
    margin-right: 100%;
    position: absolute;
    margin-bottom: 600px;
    margin-left: 50px;
    border-radius: 50px;
    
}
.cancionespop{
    background-color: rgb(218, 26, 19,0.6);
    height: 50%;
    margin: 4%;
    font-size: 20px;
    display:flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: -700px;
    font-family: 'Josefin Sans', sans-serif;
    
}

.pop{
    display: flex;
    margin-left: 70px;
    justify-content: space-between;

}
.galeria {
    display: flex;
    margin-right: 70px;
    flex-direction: row;
    justify-content: center;
  }

.img-index{
    width: 90%;
    height: 500px;
    
}
.foto .img-index{
    padding-right: 20px;
}

.descripcion{
    background-color: beige;
    font-size: 18px;
    align-items: center;
}
  
  


/*Noticias*/


.varias-secciones2{
    background-color:rgb(207,46,46) ;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 149px;
    display: flex;
    margin-bottom: 400px;
    width: 1200px;
    font-size: 30px;
    margin-top: 0px;
    
}

.logo1{
    display: flex;
    height: 150px;
    justify-content: right;
    margin-right: 100%;
    position: absolute;
    margin-bottom: 400px;
    margin-left: 50px;
    border-radius: 30px;
}

.secciones{
    
    list-style: none;
    text-decoration: none;
    color: beige;
    display: flex;
    text-align: center;
    top:10px;
    position: relative;
    margin-bottom: 3px;
    font-size: 18px;
    color: black;
    margin: 0%;
    padding-right: 0%;

}

.contenedor-titulo{
    display: flex;
}

.titulo{
    justify-content: center;
    align-items: flex-start;
    margin-top: 300px;
    height: 86px;
    width: 400px;
    color: black;   
}

.footer2{

    display: flex;
    justify-content: space-around;
    background-color: beige;
    padding: -39px;
    margin-top: 700px;
    height:20px ;

} 









.image{
  font-family: 'Josefin Sans', sans-serif;
    height: 400px;
    width: 200px;
    font-size: 15px;
    background-color: rgb(233, 233, 233,0.4);
    
}

.portada{
    width: 100%;
    

}

.imageConteiner{
    display: flex;
    justify-content: space-around;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: beige;
    padding: -15px;
    margin-top: 600px;
 
}
.footerTienda li a{
    text-decoration: none;
}








/*carrousel noticias*/
 

.row{
    background-color: rgb(207,46,46);
    height:90px ;
    width:710px ;
    display: flex;
    margin-top: 160px;
    align-content: space-around;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 300px;
    margin-right: 100px;
    margin-bottom: 500px;
}

.img-carousel{
    width: 1000px;
    height: 600px;
    margin-left: 180px;
    margin-top: px;

}
p{
    font-size: 20px;
    
}

.visually-hidden{

    margin-left: -100px;
}


/*BIOGRAFIA*/
.container-bio{
    max-width: 890px;
    margin: auto;
    padding: 20px;
    width: 800px;
    background-color:red;
    
}
.title-bio{
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 257px;
    color: whitesmoke;
}
.contenido-bio{
    font-size: 28px;
    color: rgb(255, 245, 243);
    margin-top: 12px;
    width: 775px;
   
}
.indice{
    margin-bottom: 10px;
}

.biography {
    background-color: #f2f2f2;
    padding: 40px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .content {
    display: flex;
    align-items: center;
  }
  
  .content img {
    width: 200px;
    border-radius: 50%;
    margin-right: 40px;
  }
  
  .content p {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    margin: 30px;

  }
  












/*VIDEOS CON MAS REPRODUCCIONES*/

.titulo-vid{
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 257px;
    color: black;
}
.titulo-video{
    display: flex;

}
.container-video {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
   .contenido-video {
    display: grid;
    grid-template-rows: auto 1fr;
  }
  
.contenido-video iframe {
    width: 100%;
  }
  
  .contenido-texto {
    padding: 10px;
    background-color: rgb(240, 240, 240);

  }
  .contenido-texto h2{
    text-align: center;
  }
  

  
  /*conciertos*/

  .ticket-seleccion {
    background-color: #f2f2f2;
    padding: 40px;
    text-align: center;
    margin-bottom: 95px;
    margin-top: -100px ;
  }
  
  .form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
  }
  
  .form-grupo {
    flex-basis: 100%;
    max-width: 400px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  select,
  input[type="date"],
  input[type="time"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .submit-button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  

 /*seccion de compra*/

  .ticket-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    border: 4px solid #fffdfd;
    padding: 20px;
    text-align: center;
    background-color: #ff0000;
    
  }
  
  .precio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 10px;
  }
  
  .precio span:first-child {
    text-align: right;
    padding-right: 10px;
  }
  
  .precio span:last-child {
    text-align: left;
    padding-left: 10px;
  }
  
  button:hover {
    background-color:whitesmoke;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  @media (max-width: 767px) {
    .ticket-section {
      grid-template-columns: 1fr;
    }
  }
  




  
  
  


/*footer nuevo*/

footer {
  background-color: #db0505;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 600px;
  height: 65px;
}

.text-izquierdo, .text-derecho, .link-medio {
  flex-basis: 33.33%;
  text-align: center;
  
}

.link-medio {
  flex-basis: 100%;
  color: aliceblue;
}

.link-medio a {
  color: aliceblue;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}


@media screen and (max-width: 768px) {
  .text-izquierdo, .text-derecho, .link-medio {
    flex-basis: 100%;
  }
}


























  
  /* Media Query para mostrar el menú en mobile */
  /*@media  screen and (max-width: 600px) {
    .menu-seccion {
      display: none;
    }
  
    .menu-icono {
      display: block;
      width: 30px;
      height: 30px;
      cursor: pointer;
      position: absolute;
      right: 10px;
    }
  
    .menu-hamburguesa:checked  .menu-seccion {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 100%;
      left: 0;
      width: 10px;
      padding: 20px;
    }
  }*/
  















/*MEDIA QUERIES*/
/*@media screen and (max-width: 768px) {
.menu{
    background-color: rgb(245, 135, 46);

}
.viariassecciones{
    background-color: blueviolet;
}

.cancionespop{
    background-color: rgb(245, 135, 46);
}
.galeria{
    flex-direction: column;
}

.ticket-container{
  grid-template-columns: 1fr;
}

}*/


     
     
  
  
  
  















