

@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Advertencia & display=swap');

*{
    padding: 0;
    margin: 0;
    
}




body{
    background-color: efd9ce;
    background: url(../img/imagefondo.jpg);
    /*background: url( https://www.tomares.es/sites/default/files/30112019-erickfernandoq-4470.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
      
}

.menu{
    width: 100%;
    margin: 0%;
    justify-content: space-between;
   
}
.link-menu {
    color: beige;
    padding: 80px;
    text-align: center;
    text-decoration: none;
    
}
header{
    display: flex;
    background-color:rgb(207,46,46) ;
    text-align: center ;
    margin-bottom: 100px;
    width: 100%;
    height: 29px;
    
    
}

li{
    display: inline-block;
    width: 133px;
    margin-right: 87px;
    margin-top: 5px;
    
} 

h1{
    text-align: center;
    font-size: 50px;
    display: flex;
    height: 70px;
    width: 380px;
    justify-content: center;
    position: absolute;
    left: 500px;
    top: 240px;
    font-family: 'Sigmar', cursive;
    
     
}

.varias-secciones{
    display: flex;
    text-decoration: none;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100%;
    text-align: center;
    position: relative;
    top: 370px;
    background-color: white;
    font-family: 'Sigmar', cursive;
    color: black;
    width: 1000px;
}
.link-menu:hover{
    color: rgb(23, 182, 44);
}

/*INDEX*/
.logo{
    display: flex;
    height: 180px;
    justify-content: right;
    margin-right: 100%;
    position: absolute;
    margin-bottom: 600px;
    margin-left: 50px;
    border-radius: 50px;
    
}
.cancionespop{
    background-color: rgb(218, 26, 19,0.6);
    height: 50%;
    margin: 4%;
    font-size: 20px;
    display:flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: -700px;
    font-family: 'Sigmar', cursive;
    
}

.pop{
    display: flex;
    margin-left: 70px;
    justify-content: space-between;

}
.galeria {
    display: flex;
    margin-right: 70px;
    flex-direction: row;
    justify-content: center;
  }

.img-index{
    width: 90%;
    height: 500px;
    
}
.foto .img-index{
    padding-right: 20px;
}

.descripcion{
    background-color: beige;
    font-size: 18px;
    align-items: center;
}
  
  


/*Noticias*/


.varias-secciones2{
    background-color: darksalmon;
    font-family: 'Sigmar', cursive;
    margin-left: 149px;
    display: flex;
    margin-bottom: 400px;
    width: 1200px;
    font-size: 30px;
    margin-top: 0px;
    
}

.logo1{
    display: flex;
    height: 150px;
    justify-content: right;
    margin-right: 100%;
    position: absolute;
    margin-bottom: 400px;
    margin-left: 50px;
    border-radius: 30px;
}

.secciones{
    
    list-style: none;
    text-decoration: none;
    color: beige;
    display: flex;
    text-align: center;
    top:10px;
    position: relative;
    margin-bottom: 3px;
    font-size: 18px;
    color: black;
    margin: 0%;
    padding-right: 0%;

}

.contenedor-titulo{
    display: flex;
}

.titulo{
    justify-content: center;
    align-items: flex-start;
    margin-top: 218px;
    height: 86px;
    width: 517px;
    color: black;   
}

.footer2{

    display: flex;
    justify-content: space-around;
    background-color: beige;
    padding: -39px;
    margin-top: 700px;
    height:20px ;

} 









.image{
    font-family: 'Caveat', cursive;
    height: 400px;
    width: 200px;
    font-size: 15px;
    background-color: rgb(233, 233, 233,0.4);
    
}

.portada{
    width: 100%;
    

}

.imageConteiner{
    display: flex;
    justify-content: space-around;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: beige;
    padding: -15px;
    margin-top: 600px;
 
}
.footerTienda li a{
    text-decoration: none;
}








/*carrousel noticias*/
 
.row{
    background-color: darksalmon;
    height:60px ;
    width:616px ;
    display: flex;
    margin-top: 160px;
    font-family: 'Sigmar', cursive;
    margin-left: 466px;
    margin-right: 100px;
    margin-bottom: 500px;
}

.img-carousel{
    width: 1000px;
    height: 600px;
    margin-left: 180px;
    margin-top: px;

}
p{
    font-size: 20px;
    
}

.visually-hidden{

    margin-left: -100px;
}


/*BIOGRAFIA*/
.container-bio{
    max-width: 890px;
    margin: auto;
    padding: 20px;
    width: 800px;
    background-color:red;
    
}
.title-bio{
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 257px;
    color: whitesmoke;
}
.contenido-bio{
    font-size: 28px;
    color: rgb(255, 245, 243);
    margin-top: 12px;
    width: 775px;
   
}
.indice{
    margin-bottom: 10px;
}

/*VIDEOS CON MAS REPRODUCCIONES*/

.title-video{
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 257px;
    color: whitesmoke;
}

.container-video {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
   .contenido-video {
    display: grid;
    grid-template-rows: auto 1fr;
  }
  
.contenido-video iframe {
    width: 100%;
  }
  
  .contenido-texto {
    padding: 10px;
    background-color: rgb(240, 240, 240);

  }
  .contenido-texto h2{
    text-align: center;
  }
  

  /*CONCIERTOS*/
  .ticket-sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 200px;
  }
  
  .ticket-section {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }
  
  .boton{
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
 }
  










/*MEDIA QUERIES*/
@media screen and (max-width: 768px) {
.menu{
    background-color: rgb(245, 135, 46);

}
.viariassecciones{
    background-color: blueviolet;
}

.cancionespop{
    background-color: rgb(245, 135, 46);
}
.galeria{
    flex-direction: column;
}

}

@media screen and (max-width: 480px){
    .viariassecciones{
        background-color:rgb(245, 135, 46);
    }
    .cancionespop{
        background-color: rgb(245, 135, 46);
    }
    header{
        max-width: 100%;
    }

}

     
     
  
  
  
  















